<ons-page ng-controller="SetPlayerCtrl as playerCl">
    <ons-toolbar>
      <div class="center">プレイヤー設定</div>
    </ons-toolbar>

    <div class="content" style="margin: 10px;">
      <ons-row ng-repeat="player in playerCl.players">
        <ons-col width="10%">{{$index + 1}}: </ons-col>
        <ons-col width="50%">{{player}}</ons-col>
        <ons-col>
          <ons-button ng-click="playerCl.changeName(player,$index)">名前変更</ons-button>
        </ons-col>
      </ons-row>
      <ons-button ng-click="playerCl.backTop()">結果一覧画面へ</ons-button>
    </div>
</ons-page>